<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
  <title>Tru-yum</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<nav class="navbar navbar-custom navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><img src="/images/logo.jpeg" class="logo" height="30" width="143"></a>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="/loginCheck"><span class="navMenu">Menu</span></a></li>
			<li><a href="/cart"><span class="navMenu">Cart</span></a></li>
			<li><a href="#">
			<span class="navMenu"> 
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
				fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
				<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
				</svg>
				<span>User</span>
			</a></li>
			</span>
			<li><a href="login"><span class="glyphicon glyphicon-log-in navMenu"> Logout</span></a></li>
		</ul>
	</div>
</nav>
<body>
<br>
<br>
<br>
<br>
<span id="status"></span>
<table class="table table-striped table-hover table-sm">
	<caption>Menu Items</caption>
	<thead class="thead-dark">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Action</th>
			<th>Quantity</th>
		</tr>
	</thead>
		<tr th:each="item : ${item_list}">
			<td th:text="${item.id}"></td>
			<td th:text="${item.name}"></td>
			<td th:text="${item.description}"></td>
			<td th:text="${item.price}"></td>
			<td>
				<button type="button" class="btn btn-primary" th:id="@{|${item.id}|}"
				 onClick="addToCart(this.id)">Add</button>
			</td>
			<td th:id="@{|quantity${item.id}|}">0</td>
		</tr>
</table>
<div class="text-center">
<button type="button" class="btn btn-primary ">Buy</button>
</div>
</body>

<script>
	function addToCart(menu_id) {
		console.log(menu_id);
		var id = "quantity"+menu_id;
		document.getElementById(id).innerHTML = parseInt(document.getElementById(id).innerHTML) + 1;
		/* $.ajax({
			url : "addToCart",
			data : {
				"menu_id" : menu_id
			},
			success : function(result) {
				$("#status").html(result);
			}
		}); */
	}
</script>
<style>     
		.navbar-custom {
			background-color: rgb(114, 62, 163);
        }
		.navMenu{
			color:white;
		}
		.table {
		   margin: auto;
		   width: 50% !important; 
		}
		#status{
			display: flex;
			justify-content: center;
			align-items: center;
		}
    </style>
</html>