<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Nayak Hospital</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<link rel="stylesheet" href="/css/login.css">
	</head>
<body>
	
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
			<h1>Super Market</h1>
            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <form th:action="@{./loginCheck}" method="post">
              
	              <div class="form-outline form-white mb-4">
	                <input type="email" id="typeEmailX" class="form-control form-control-lg" placeholder="Email" name="email"/>
	              </div>
	
	              <div class="form-outline form-white mb-4">
	                <input  type="password" id="typePasswordX" class="form-control form-control-lg"  placeholder="Password" name="password"/>
	              </div>
	
	              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
				  <h4 th:text = "${message}"></h4>
	              
	              <!-- <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button> -->
	              <input type="submit" value="Login" class="btn btn-outline-light btn-lg px-5" >
			  </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

</body>
</html>



